*{
    padding: 0;
    margin: 0;
    background-color: rgb(191, 242, 242);
}
.carousel-item h1{
    text-align: center;
}
.carousel-item h2{
    text-align: center;
}
.carousel-item h3{
    text-align: center;
}
.carousel-item h4{
    text-align: center;
}
.carousel-item h5{
    text-align: center;
}