
body{
    margin: 0;
    padding: 0;
}
.about{
    text-align: center;
    background-color:  rgb(191, 242, 242);
}
.about h2{
    font-size: 29px ;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 20px blue, 0 0 blue;
}
.icon{
    letter-spacing: 5px;
}
.icon a{
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(191, 242, 242);
    background-color: blue;
    padding: 8px 5px;
    padding-left: 10px;
    border-radius:70px ;
    border: 2px solid grey;
}
.icon a:hover{
    background-color: rgb(94, 133, 133);
    color: black;
    border: 2px solid black;
}
.main{
    background-color: white;
}
.main h1{
    text-align: center;
    font-size: 25px;
}
.main h5{
    text-align: center;
    font-size: 25px;
}
.main p{
    text-align: center;
    font-size: 15px;
}
.container{
    background-color: white;
}
.card{
    height: 190px;
    background-color: white;

}
.card-body a{
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    color: rgb(191, 242, 242);
}
.card-body a:hover{
    background-color: rgb(94, 133, 133);
    border: 2px solid black;
    color: black;

}
.foter{
    background-color: white;
}
.footer h2{
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    background-color: white;
}
